# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.StankinOOP.iml
# Datasource local storage ignored files
/../../../../../../../:\RiderProjects\GithubProjects\StankinOOP\.idea\.idea.StankinOOP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
